@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /*COLOR VARIABLES*/
    --website-color: #E3DBD2;

    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    /*BACKGROUND COLOR OF THE WHOLE WEBSITE*/
    background: var(--website-color);
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0 0 100px;
}


li, a, button, h1, h2, h3, h4, h5, h6, p, span {
    font-family: 'Inter', sans-serif;
    color: #284C7B;
    text-decoration: none;
}

i {
    color: rgb(194 192 193);
}

hr {
    margin: 0;
}

.root {
    margin-left: auto;
    margin-right: auto;
    max-width: 1950px;
}

.bold {
    font-weight: bold;
}

header {
    width: 100%;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

#headerLogo {
    height: 90px;
    width: 90px;
}

/*ADD UNDERLINE EFFECTS FOR NAVBAR*/


.fa-brands, .fab {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 40px;
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.fa-brands:hover, .fab:hover {
    color: #ffff;
}


/*MAIN STYLES*/
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    overflow-x: hidden;
}

#bannerBackground {
    /*ADD BACKGROUND IN HTML*/
    background-size: cover;
    height: calc(100vh - 10px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-position: center;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: calc(100vh - 200px);

    font-size: 27px;

    text-align: center;
    width: 40%;
    gap: 1em;
}

#banner h1 {
    line-height: 1em;
    color: #E6E6E6;
}

.socials {
    color: #E6E6E6;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section {
    margin-top: 3em;
    margin-bottom: 5em;
    /*NEEDS ALIGN SELF CENTER TO CENTER SOMETHING IN A FLEX COLUMN*/
    align-self: center;
    justify-content: center;
}


.icons {
    width: 3em;
    border: 1px solid #284C7B;
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.title-block {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 6em;
    margin: auto;
}

.chart {
    background-color: #D2DAE3;
    display: flex;
    flex-direction: column;

    padding: 2em;
    border-radius: 2em;
    height: auto;
}

.menu {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.btn {
    margin-top: 2em;
    width: 100%;
}


.btn button {
    position: absolute;
    padding: 11px 46px;
    gap: 12px;
    background: #E5E7EB;
    border: none;
    box-shadow: 0 12px 30px rgba(24, 92, 255, 0.18);
    border-radius: 30px;
    right: 0;
    bottom: 0;
    font-weight: bold;
}


/*SPONSORS GO HERE*/
#sponsor {
    background-color: #CFC2B3;
    display: flex;
    flex-direction: column;
    padding: 0 45px
}

.logos {
    height: 180px;
}

/*FOOTER GOES HERE*/
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#footerLogo {
    max-width: 150px;
}


/*IF THE SCREEN WIDTH IS BELOW 700px*/
@media screen and (max-width: 700px) {
    .info {
        flex-direction: column;
        gap: 3em;
        margin: 0;
        width: 100%;
    }

    #logos {
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        margin: auto;
    }

    .logos {
        height: 80%;
        max-height: 200px;
        max-width: 350px;
        margin: auto;
    }
}


.sub-title {
    margin-bottom: 3em;
    font-weight: 900;
}

.text-left {
    text-align: left;
    padding-left: 2em;
}

.text-right {
    text-align: right;
    padding-right: 2em;
}

.text-center {
    text-align: center;
}

.darker-background {
    width: 100%;
    background-color: #CFC2B3;
}