<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="body">
<div id="main">

    <!-- HEADER GOES HERE (NAV BAR) -->
    <header>
        <span id="logo">YRChess</span>
        <nav>
            <ul class="nav-links">
                <li><a>
                    <button>Home</button>
                </a></li>
                <li><a>
                    <button>Our Team</button>
                </a></li>
                <li><a>
                    <button>Events</button>
                </a></li>
                <li><a>
                    <button>Join Us</button>
                </a></li>
                <li><a>
                    <button>Contact</button>
                </a></li>
            </ul>
        </nav>
    </header>

    <!-- MAIN PAGE GOES HERE -->
    <main class="full-page">
    </main>


    <!-- FOOTER GOES HERE -->
    <footer>
        <hr>
        <div id="footer">

            <div id="email-info">
                <img id="footerLogo" src="" alt="">
                <h3>info@yrchess.com</h3>
                <h6>c 2022 YRChess</h6>
            </div>

            <div>
                <h3>Follow Us On:</h3>
                <!-- Use font awesome here for social media icons -->
                <div id="socials">
                    <div class="social">insta</div>
                    <div class="social">insta</div>
                    <div class="social">insta</div>
                    <div class="social">insta</div>
                </div>
            </div>

        </div>
    </footer>

</div>
</body>
</html>