<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://kit.fontawesome.com/8771781f50.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body id="body">
<div class="main">

    <!-- HEADER GOES HERE (NAV BAR) -->
    <header>
        <div type="container">
            <img id="logo" src="../static/img/logo.png" alt="Chess Logo">

            <!-- <span id="yrchess">YRChess</span> -->

        </div>

        <div class="navbar">
            <nav>
                <ul class="nav-links">
                    <li><a>Home</a></li>
                    <li><a>About</a></li>
                    <li><a>Events</a></li>
                    <li><a>Chess Puzzles</a></li>
                    <li><a>Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- contain image of chess -->
    <div id="bannerBackground">
        <div id="banner">
            <h1>Casual In-Person Chess York Region and Beyond!</h1>
            <!-- <img src="../static/img/chess_bg.png" alt=""> -->

            <div class="socials">
                <a href="https://dsc.bio/bourrasque"><i class="fa-brands fa-discord"></i></a>
                <a href="https://github.com/stampixel"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>

    <!-- MAIN PAGE GOES HERE -->
    <main class="full-page">
        <div id="exploreWebsite">
            <div class="title">
                <h1>Explore Our Website</h1>
            </div>

            <!-- INFORMATION CHART -->
            <div class="info">
                <div class="chart">
                    <div class="menu">
                        <div class="text">
                            <a href="https://dsc.bio/bourrasque"><i class="fa-brands fa-discord"></i></a>
                            <h3>Learn more about us</h3>
                            <p>Find out about YRChess and the team behind it!</p>
                        </div>
                        <div class="btn">
                            <button>About</button>
                        </div>

                    </div>
                </div>

                <div class="chart">
                    <div class="menu">
                        <div class="text">
                            <a href="https://dsc.bio/bourrasque"><i class="fa-brands fa-discord"></i></a>
                            <h3>Look out for upcoming events</h3>
                            <p>YRChess hosts chess events such as tournaments. Make sure to track what events are
                                approaching!</p>
                        </div>
                        <div class="btn">
                            <button>Events</button>
                        </div>
                    </div>
                </div>

                <div class="chart">
                    <div class="menu">
                        <div class="text">
                            <a href="https://dsc.bio/bourrasque"><i class="fa-brands fa-discord"></i></a>
                            <h3>Solve our chess puzzles</h3>
                            <p>We post weekly chess puzzles on our Instagram. Try solving them to improve your chess
                                tactics!</p>
                        </div>
                        <div class="btn">
                            <button>Chess Puzzles</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SPONSORS -->
        <div id="sponsors">
            <div class="title">
                <h1>Our Generous Sponsors</h1>
            </div>

            <div id="advert">
                <div id="logos">
                    <img src="" alt="olympiads">
                    <img src="" alt="sportika">
                    <img src="" alt="nam">
                    <img src="" alt="sikee">
                </div>
            </div>
        </div>
    </main>

    <hr>

    <!-- FOOTER GOES HERE -->
    <footer>
        <hr>
        <div id="footer">
            <div id="footerInfo">
                <img id="footerLogo" src="" alt="">

                <div class="socials">
                    <a href="https://dsc.bio/bourrasque"><i class="fa-brands fa-discord"></i></a>
                    <a href="https://github.com/stampixel"><i class="fa-brands fa-github"></i></a>
                </div>
                <h3>info@yrchess.com</h3>
                <h3>@ 2023 YRChess. All rights reserved.</h3>

            </div>
        </div>
    </footer>

</div>
</body>
</html>