<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://kit.fontawesome.com/8771781f50.js" crossorigin="anonymous"></script>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            crossorigin="anonymous"
    />

    <link rel="stylesheet" href="home.css">
</head>
<body id="body">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">YRCHESS</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="">Home</a>
            <a class="nav-item nav-link" href="">About</a>
            <a class="nav-item nav-link" href="">Events</a>
            <a class="nav-item nav-link" href="">Chess Puzzles</a>
            <a class="nav-item nav-link" href="">Contact Us</a>
        </div>
    </div>
</nav>
<div class="main">
    <!-- contain image of chess -->
    <div id="bannerBackground">
        <div id="banner">
            <h1>Promoting Chess across York Region
                and Beyond!</h1>
            <!-- <img src="../static/img/chess_bg.png" alt=""> -->

            <div class="socials">
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-discord"></i></a>
            </div>
        </div>
    </div>

    <!-- MAIN PAGE GOES HERE -->
    <main class="full-page">
        <div class="section" id="exploreWebsite">
            <div class="title-block">
                <h1>Explore Our Website</h1>
            </div>

            <!-- INFORMATION CHART -->
            <div class="info">
                <div class="chart">
                    <div class="menu">
                        <div class="text-block">
                            <img src="../static/img/icons/community.png" class="icons">
                            <h3>Learn more about us</h3>
                            <p>Find out about YRChess and the team behind it!</p>
                        </div>
                        <div class="btn">
                            <button>About</button>
                        </div>

                    </div>
                </div>

                <div class="chart">
                    <div class="menu">
                        <div class="text-block">
                            <img src="../static/img/icons/calender.png" class="icons">
                            <h3>Look out for upcoming events</h3>
                            <p>YRChess hosts chess events such as tournaments. Make sure to track what events are
                                approaching!</p>
                        </div>
                        <div class="btn">
                            <button>Events</button>
                        </div>
                    </div>
                </div>

                <div class="chart">
                    <div class="menu">
                        <div class="text-block">
                            <img src="../static/img/icons/board.png" class="icons">
                            <h3>Solve our chess puzzles</h3>
                            <p>We post weekly chess puzzles on our Instagram. Try solving them to improve your chess
                                tactics!</p>
                        </div>
                        <div class="btn">
                            <button>Chess Puzzles</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- SPONSORS -->
        <div id="sponsor">
            <div class="title-block">
                <h1>Our Generous Sponsors</h1>
                <h3>Nam Vietnamese Restaurant // Olympiads School // Sikee Electric // Sportika </h3>
            </div>


            <div id="advert" class="section">
                <div id="logos">
                    <img class="logos" src="../static/img/sponsors/nam.png" alt="nam">
                    <img class="logos" src="../static/img/sponsors/olympiads.png" alt="olympiads">
                    <img class="logos" src="../static/img/sponsors/sikee.png" alt="sikee">
                    <img class="logos" src="../static/img/sponsors/sportika.png" alt="sportika">
                </div>
            </div>
        </div>
    </main>


    <!-- FOOTER GOES HERE -->
    <footer>
        <hr>
        <div id="footer">
            <!-- No longer a section class -->
            <div id="footerInfo">
                <img id="footerLogo" src="../static/img/img.png" alt="">

                <div class="socials">
                    <a href=""><i class="fa-brands fa-discord"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
                <h3>info@yrchess.com</h3>
                <h3>@ 2023 YRChess. All rights reserved.</h3>

            </div>
        </div>
    </footer>

</div>

<script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"
></script>
</body>
</html>