<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body id="body">
<div id="main">
    <header>
        <span id="logo">YRChess</span>
        <nav>
            <ul class="nav-links">
                <li><a>
                    <button>Home</button>
                </a></li>
                <li><a>
                    <button>Our Team</button>
                </a></li>
                <li><a>
                    <button>Events</button>
                </a></li>
                <li><a>
                    <button>Join Us</button>
                </a></li>
                <li><a>
                    <button>Contact</button>
                </a></li>
            </ul>
        </nav>
    </header>

    <main class="full-page">
        <!-- contain image of chess -->
        <div id="banner">
            <h1>Our Team</h1>
            <img src="" alt="">
        </div>

        <div class="info">
            <h1>Our Mission</h1>
            <p> &nbsp; &nbsp; &nbsp; &nbsp; Chess and beyond!</p>
            <div class="about-me-info">
                <div class="text">
                    <p>
                        My name is Kevin and I am a programmer with a passion for solving problems and creating
                        software.
                        In my free time, I like to participate in online coding challenges and hackathons
                        to keep my skills sharp, as well as meeting new people and networking. I am always looking for
                        new opportunities to learn and gain knowledge.
                    </p>
                </div>
                <div class="image">
                    <img src="" alt="">
                </div>
            </div>
            <div id="options">
                <button>Events ></button>
            </div>
        </div>

        <div id="timeline">
            <img src="" alt="">
        </div>
    </main>

    <footer>
        <hr>
        <div id="footer">

            <div id="email-info">
                <img id="footerLogo" src="" alt="">
                <h3>info@yrchess.com</h3>
                <h6>c 2022 YRChess</h6>
            </div>

            <div>
                <h3>Follow Us On:</h3>
                <!-- Use font awesome here for social media icons -->
                <div id="socials">
                    <div class="social">insta</div>
                    <div class="social">insta</div>
                    <div class="social">insta</div>
                    <div class="social">insta</div>
                </div>
            </div>

        </div>
    </footer>

</div>
</body>
</html>